body {
  font-family: "Raleway", sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.credits {
  font-size: 10px;
}
