.events-wrapper {
  width: 100vw;
  height: 100%;
  padding: 47px;

  @media all and (min-width: 768px) {
    margin-top: 100px;
  }

  @media all and (min-width: 1200px) {
    margin-top: 0;
    padding: 50px;
    margin-bottom: 0;
  }

  .events-title {
    border-top: 1px black solid;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      margin-bottom: 30px;
    }
    @media all and (min-width: 1200px) {
      text-align: start;
      font-size: 26px;
      margin-bottom: 50px;
      padding-bottom: 0;
    }
  }

  .events-articles {
    border-bottom: 1px black solid;
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 50px;
    }
    @media all and (min-width: 1200px) {
      justify-content: baseline;
      align-items: baseline;
      margin-bottom: 0;
    }

    .h2 {
      padding-bottom: 20px;
      @media all and (min-width: 768px) {
        padding-bottom: 0;
      }
      @media all and (min-width: 1200px) {
        margin-bottom: 0px;
      }
    }

    img {
      width: 240px;
      height: auto;
      @media all and (min-width: 768px) {
        width: 340px;
        height: auto;
        margin: 10px;
      }
      @media all and (min-width: 1200px) {
        width: 300px;
        height: auto;
        margin: 40px;
      }
    }
    /*border-bottom: 1px black solid;
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 50px;
      height: auto;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 0;
    }*/

    /*.usm-title {
      padding-bottom: 20px;
    }

    .usm-default-photo {
      width: 100%;
      height: auto;
      @media all and (min-width: 768px) {
        width: 600px;
        height: 390px;
        margin: 10px;
      }
      @media all and (min-width: 1200px) {
        width: 1068px;
        height: 690px;
        margin: 40px;
      }
    }
    .cba-default-photo {
      width: 100%;
      height: auto;
      @media all and (min-width: 768px) {
        width: 600px;
        height: 400px;
        margin: 10px;
      }
      @media all and (min-width: 1200px) {
        width: 1068px;
        height: 690px;
        margin: 40px;
      }
    }
    .interi-default-photo {
      width: 100%;
      height: auto;
      @media all and (min-width: 768px) {
        width: 600px;
        margin: 10px;
      }
      @media all and (min-width: 1200px) {
        width: 1068px;
        margin: 40px;
      }
    }*/

    h2 {
      font-size: 18px;
      padding: 15px;
      padding-bottom: 25px;
      font-weight: 300;
      @media all and (min-width: 768px) {
        font-size: 16px;
        @media all and (min-width: 1200px) {
          font-size: 20px;
          padding: 0;
        }
      }
    }
    .interi-title {
      margin-bottom: 40px;
    }
  }

  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px black solid;
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1200px) {
      padding-bottom: 220px;
    }

    h2 {
      margin-top: 10px;
      margin: 30px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 20px;
      font-size: 22px;
      font-weight: bolder;

      @media all and (min-width: 768px) {
        font-size: 32px;
        font-weight: 300;
      }

      @media all and (min-width: 1200px) {
      }
    }

    p {
      margin: 0px;
      margin-bottom: 5px;
      height: auto;
      padding: 20px;
      color: white;
      text-align: right;
      line-height: 20px;
      font-weight: 800;
      font-size: 22px;
      background-color: #bcada2;
      @media all and (min-width: 768px) {
        width: 100%;
        display: flex;
        text-align: end;
        justify-content: flex-end;
      }

      @media all and (min-width: 1200px) {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 45px;
      }
    }
    span {
      margin-left: 35px;
      justify-content: left;
      font-size: 12px;
      font-weight: lighter;

      @media all and (min-width: 768px) {
        text-align: flex-end;
        font-size: 14px;
        padding: 10px;
      }

      @media all and (min-width: 1200px) {
        padding: 10px;
        font-size: 18px;
      }
    }
    .usm-description {
      background-color: #a39a91;
    }
    .cba-description {
      background-color: #f39f78;
    }
    .interi-description {
      background-color: #d18089;
    }
  }

  /*.bf-description {
      display: flex;
      justify-content: space-between;
      grid-column: span 1;
      height: auto;
      padding: 20px;
      align-items: flex-start;
      color: white;
      text-align: right;
      line-height: 20px;
      font-weight: 800;
      font-size: 22px;
    }*/

  .usm-container {
    padding-top: 8%;
    margin: 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(1);
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 300px 300px;

    @media all and (min-width: 768px) {
      padding-top: 4%;
      justify-content: space-between;
      grid-template-columns: repeat(2, 28%);
      grid-template-rows: repeat(2);
      grid-auto-rows: 400px 350px;
    }

    @media all and (min-width: 1200px) {
      grid-auto-rows: 600px 600px;
      grid-gap: 50px;
      grid-template-columns: repeat(2, 36%);
    }

    .usm-item-1 {
      grid-column: span 2;
      background-image: url(../images/usmphoto4.png);
      background-position: center;
      background-size: cover;
    }
    .usm-item-2 {
      grid-column: span 2;
      background-image: url(../images/usmphoto2.png);
      background-position: cover;
      background-size: cover;
    }
    .usm-item-3 {
      grid-column: span 2;
      background-image: url(../images/usmphoto3.png);
      background-position: cover;
      background-size: cover;
    }
    .usm-item-4 {
      grid-column: span 2;
      background-image: url(../images/usmphoto1.png);
      background-position: right;
      background-size: cover;
    }
  }

  /*.ds-description {
        display: flex;
        justify-content: space-between;
        grid-column: span 1;
        height: auto;
        padding: 20px;
        align-items: flex-start;
        color: white;
        text-align: right;
        line-height: 20px;
        font-weight: 800;
        font-size: 22px;
        background-color: #bcada2;
      }*/
  .cba-container {
    padding-top: 8%;
    margin: 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(1);
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 300px 300px;

    @media all and (min-width: 768px) {
      padding-top: 4%;
      justify-content: space-between;
      grid-template-columns: repeat(2, 28%);
      grid-template-rows: repeat(2);
      grid-auto-rows: 400px 350px;
    }

    @media all and (min-width: 1200px) {
      grid-auto-rows: 600px 600px;
      grid-gap: 50px;
      grid-template-columns: repeat(2, 36%);
    }
    .cba-item-1 {
      grid-column: span 2;
      background-image: url(../images/cbaphoto1.JPG);
      background-position: center top;
      background-size: cover;
    }
    .cba-item-2 {
      grid-column: span 2;
      background-image: url(../images/cbaphoto2.JPG);
      background-position: cover;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center;
      }
    }
    .cba-item-3 {
      grid-column: span 2;
      background-image: url(../images/cbaphoto3.JPG);
      background-position: cover;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center top;
      }
    }
    .cba-item-4 {
      grid-column: span 2;
      background-image: url(../images/cbaphoto4.png);
      background-position: right;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: top;
      }
    }
  }

  /*.ae-description {
        display: flex;
        justify-content: space-between;
        grid-column: span 1;
        height: auto;
        padding: 20px;
        align-items: flex-start;
        color: white;
        text-align: right;
        line-height: 20px;
        font-weight: 800;
        font-size: 22px;
        background-color: #bcada2;
      }*/

  .interi-container {
    padding-top: 8%;
    margin: 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(1);
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 300px 300px;

    @media all and (min-width: 768px) {
      padding-top: 4%;
      justify-content: space-between;
      grid-template-columns: repeat(2, 28%);
      grid-template-rows: repeat(2);
      grid-auto-rows: 400px 350px;
    }

    @media all and (min-width: 1200px) {
      grid-auto-rows: 600px 600px;
      grid-gap: 50px;
      grid-template-columns: repeat(2, 36%);
    }

    .interi-item-1 {
      grid-column: span 2;
      background-image: url(../images/ihphoto1.png);
      background-position: center;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center;
      }
    }
    .interi-item-2 {
      grid-column: span 2;
      background-image: url(../images/ihphoto2.png);
      background-position: cover;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center;
      }
    }
    .interi-item-3 {
      grid-column: span 2;
      background-image: url(../images/ihphoto3.png);
      background-position: cover;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center left;
      }
    }
  }
}
