.footer {
  font-size: 14px;
}

.footer-wrapper {
  margin-top: 0;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  @media all and (min-width: 768px) {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
  }
  @media all and (min-width: 1200px) {
    margin-top: 5%;
    padding: 5px;
  }
}

.copyright {
  margin-top: 10px;
  @media all and (min-width: 768px) {
    font-size: 15px;
  }
  @media all and (min-width: 1200px) {
    font-size: 15px;
  }
}
.rights-footer {
  font-size: 9px;
  @media all and (min-width: 768px) {
    font-size: 11px;
  }
  @media all and (min-width: 1200px) {
    font-size: 15px;
  }
}
.credits {
  margin-top: 17px;
  font-size: 7px;
  font-weight: lighter;
  @media all and (min-width: 768px) {
    margin-top: 30px;
    font-size: 10px;
  }
  @media all and (min-width: 1200px) {
    margin-top: 20px;
    font-size: 11px;
  }
}
