.footer {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: 16px;
}

.footer-wrapper {
  margin-top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 0;
  @media all and (min-width: 768px) {
    justify-content: center;
    align-items: center;
  }
  @media all and (min-width: 1200px) {
    padding-bottom: 10px;
  }
}

.copyright {
  font-size: 14px;
  @media all and (min-width: 768px) {
    font-size: 16px;
  }
  @media all and (min-width: 1200px) {
    font-size: 14px;
  }
}
.rights-footer {
  font-size: 9px;
  @media all and (min-width: 768px) {
    font-size: 11px;
  }
  @media all and (min-width: 1200px) {
    font-size: 12px;
  }
}
.credits {
  margin-top: 10px;
  font-size: 7px;
  font-weight: 300;
  @media all and (min-width: 768px) {
    margin-top: 14px;
    font-size: 10px;
  }
  @media all and (min-width: 1200px) {
  }
}
