.home {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;

  .home-hero {
    margin-top: 15%;
    margin-bottom: 3%;
    width: 100vw;
    outline: 0;

    @media all and (min-width: 768px) {
      margin-top: auto;
    }

    @media all and (min-width: 1200px) {
      margin-top: auto;
    }

    .hero-video {
      display: block;
      margin-top: 18%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      outline: 0;
      margin-bottom: 20%;
      @media all and (min-width: 768px) {
        margin-top: 55px;
        margin-bottom: 130px;
      }
      @media all and (min-width: 1200px) {
        margin-top: 20px;
        width: 100vw;
        height: 36.25rem;
        margin-bottom: 0px;
      }
    }
    video::-webkit-media-controls {
      display: none;
    }
  }
}
