.interiorism-wrapper {
  width: 100vw;
  height: auto;
  padding: 47px;
  margin: 0px;

  @media all and (min-width: 768px) {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  @media all and (min-width: 1200px) {
    margin-top: 0;
    /*padding: 50px;*/
    margin-bottom: 0;
  }

  .interiorism-title {
    border-top: 1px black solid;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      margin-bottom: 30px;
    }
    @media all and (min-width: 1200px) {
      text-align: start;
      font-size: 26px;
      margin-bottom: 15px;
      padding-top: 55px;
      padding-left: 40px;
      padding-bottom: 0;
    }
  }

  .interiorism-articles {
    border-bottom: 1px black solid;
    width: 100%;
    height: 60%;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      flex-direction: row;
      margin-bottom: 50px;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 0;
    }

    .h2 {
      padding-bottom: 20px;
      @media all and (min-width: 768px) {
        padding-bottom: 0;
      }
      @media all and (min-width: 1200px) {
        margin-bottom: 0px;
      }
    }

    img {
      width: 300px;
      height: auto;
      @media all and (min-width: 768px) {
        width: 230px;
        height: 320px;
        margin: 10px;
      }
      @media all and (min-width: 1200px) {
        width: 300px;
        height: 400px;
        margin: 40px;
      }
    }

    h2 {
      font-size: 18px;
      padding: 15px;
      padding-bottom: 25px;
      font-weight: 300;

      @media all and (min-width: 768px) {
        font-size: 16px;
      }

      @media all and (min-width: 1200px) {
        font-size: 20px;
        padding: 0;
        margin-bottom: 50px;
      }
    }
  }
  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px black solid;
    @media all and (min-width: 768px) {
    }
    @media all and (min-width: 1200px) {
      padding-bottom: 220px;
    }

    h2 {
      margin-top: 10px;
      margin: 30px;
      text-align: center;
      text-transform: uppercase;
      padding-top: 20px;
      font-size: 22px;
      font-weight: bolder;

      @media all and (min-width: 768px) {
        font-size: 32px;
        font-weight: 300;
      }

      @media all and (min-width: 1200px) {
      }
    }

    p {
      margin: 0px;
      margin-bottom: 5px;
      height: auto;
      padding: 20px;
      color: white;
      text-align: right;
      line-height: 20px;
      font-weight: 800;
      font-size: 22px;
      background-color: #bcada2;
      @media all and (min-width: 768px) {
        width: 100%;
        display: flex;
        text-align: end;
        justify-content: flex-end;
      }

      @media all and (min-width: 1200px) {
        font-size: 24px;
        text-transform: uppercase;
        line-height: 45px;
      }
    }
    span {
      margin-left: 35px;
      justify-content: left;
      font-size: 12px;
      font-weight: lighter;

      @media all and (min-width: 768px) {
        text-align: flex-end;
        font-size: 14px;
        padding: 10px;
      }

      @media all and (min-width: 1200px) {
        padding: 10px;
        font-size: 18px;
      }
    }
    .bf-description {
      background-color: #9c91ae;
    }
    .ds-description {
      background-color: #b5c5a2;
    }
  }

  /*.bf-description {
      display: flex;
      justify-content: space-between;
      grid-column: span 1;
      height: auto;
      padding: 20px;
      align-items: flex-start;
      color: white;
      text-align: right;
      line-height: 20px;
      font-weight: 800;
      font-size: 22px;
    }*/

  .brava-fabrics-container {
    padding-top: 8%;
    margin: 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(1);
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 300px 300px;

    @media all and (min-width: 768px) {
      padding-top: 4%;
      justify-content: center;
      grid-template-columns: repeat(2, 28%);
      grid-template-rows: repeat(2);
      grid-auto-rows: 400px 350px;
    }

    @media all and (min-width: 1200px) {
      padding-top: 3%;
      grid-auto-rows: 600px 600px;
      grid-template-columns: repeat(2, 36%);
    }

    .bf-item-1 {
      grid-column: span 2;
      background-image: url(../images/bfphoto1.jpeg);
      background-position: center;
      background-size: cover;
    }
    .bf-item-2 {
      grid-column: span 2;
      background-image: url(../images/bfphoto2.jpeg);
      background-position: cover;
      background-size: cover;
    }
    .bf-item-3 {
      grid-column: span 2;
      background-image: url(../images/bfphoto3.jpeg);
      background-position: cover;
      background-size: cover;
    }
    .bf-item-4 {
      grid-column: span 2;
      background-image: url(../images/bfphoto4.jpeg);
      background-position: right;
      background-size: cover;
    }
    .bf-item-5 {
      grid-column: span 2;
      background-image: url(../images/bfphoto5.jpeg);
      background-position: right;
      background-size: cover;
    }
    .bf-item-6 {
      grid-column: span 2;
      background-image: url(../images/bfphoto6.jpeg);
      background-position: cover;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center;
      }
    }
  }

  /*.ds-description {
        display: flex;
        justify-content: space-between;
        grid-column: span 1;
        height: auto;
        padding: 20px;
        align-items: flex-start;
        color: white;
        text-align: right;
        line-height: 20px;
        font-weight: 800;
        font-size: 22px;
        background-color: #bcada2;
      }*/
  .domestico-shop-container {
    padding-top: 8%;
    margin: 3%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(1);
    grid-gap: 20px;
    grid-auto-flow: row;
    grid-auto-rows: 300px 300px;

    @media all and (min-width: 768px) {
      padding-top: 4%;
      justify-content: center;
      grid-template-columns: repeat(2, 28%);
      grid-template-rows: repeat(2);
      grid-auto-rows: 400px 350px;
    }

    @media all and (min-width: 1200px) {
      grid-auto-rows: 600px 600px;
      grid-template-columns: repeat(2, 36%);
    }
    .ds-item-1 {
      grid-column: span 2;
      background-image: url(../images/dsphoto1.jpg);
      background-position: center;
      background-size: cover;
    }
    .ds-item-2 {
      grid-column: span 2;
      background-image: url(../images/dsphoto2.jpg);
      background-position: cover;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center;
      }
    }
    .ds-item-3 {
      grid-column: span 2;
      background-image: url(../images/dsphoto3.jpg);
      background-position: cover;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center top;
      }
    }
    .ds-item-4 {
      grid-column: span 2;
      background-image: url(../images/dsphoto4.jpg);
      background-position: right;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: top;
      }
    }
    .ds-item-5 {
      grid-column: span 2;
      background-image: url(../images/dsphoto5.jpg);
      background-position: right;
      background-size: cover;
    }
    .ds-item-6 {
      grid-column: span 2;
      background-image: url(../images/dsphoto6.jpg);
      background-position: cover;
      background-size: cover;
      @media all and (min-width: 768px) {
        background-position: center;
      }
    }
  }
}
